pandas ==1.5.3
numpy >=1.23.1
scipy >=1.8.1
scikit-learn >=1.1.1
#torch >=2.0.0
tqdm >=4.64.0
openpyxl >=3.0.10
XlsxWriter >=3.0.3
lxml >=4.9.1
reportlab >=3.6.11
matplotlib >=3.6.0
pymongo >=4.2.0
motor >=3.0.0
aiomoex >=2.0.0
beautifulsoup4 >=4.11.1
aiohttp >=3.8.1
pyppeteer >=1.0.2
certifi >=2022.6.15
psutil >=5.9.1
PyYAML >=6.0
typer >=0.6.1
tzdata >=2022.1
